<div class="center jumbotron">
  <h1>Welcome to the Wander Wall</h1>

  <h2>
    昔なつかし駄菓子屋さん。
    あの頃の子供心を思い出したい。
    そんな方のために作った完全会員制サイトです。
    ぜひあの頃の子供心を。
  </h2>

  <%= link_to "welcome back", login_path, class: "btn btn-lg btn-primary" %>
</div>
